// Base Settings and resets
// NOTE: some variables are in abstracts/globals because the utils use them too
// ---------------

// Global sizing
$cdr-global-width: rem-calc(1200) !default;

// Global spacing
$cdr-global-margin: 1rem !default;
$cdr-global-padding: 1rem !default;
$cdr-body-margin: 0 !default;
$cdr-body-padding: 0 !default;

$cdr-global-radius: 0 !default;

// Body color definitions
$cdr-body-background: #fff !default;
$cdr-body-font-color: #222 !default;

// Global Typography
// -----------------
$cdr-global-lineheight: 1.5 !default;
$cdr-body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$cdr-body-font-size: 1.6rem;
$cdr-body-antialiased: true !default;
$cdr-global-weight-normal: normal !default;
$cdr-global-weight-bold: bold !default;


html {
  box-sizing: border-box;
  font-size: $cdr-global-font-size;
}

// Set box-sizing globally to handle padding and border widths
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Default body styles
body {
  margin: $cdr-body-margin;
  padding: $cdr-body-padding;
  background: $cdr-body-background;
  font-family: $cdr-body-font-family;
  font-size: $cdr-body-font-size;
  font-weight: $cdr-global-weight-normal;
  line-height: $cdr-global-lineheight;
  color: $cdr-body-font-color;

  @if ($cdr-body-antialiased) {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

img {
  // Get rid of gap under images by making them display: inline-block; by default
  display: inline-block;
  vertical-align: middle;

  // Grid defaults to get images and embeds to work properly
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

// Make sure textarea takes on height automatically
textarea {
  height: auto;
  min-height: 50px;
  border-radius: $cdr-global-radius;
}

// Make select elements are 100% width by default
select {
  width: 100%;
  border-radius: $cdr-global-radius;
}

// Reset <button> styles created by most browsers
button {
  padding: 0;
  appearance: none;
  border: 0;
  border-radius: $cdr-global-radius;
  background: transparent;
  line-height: 1;
}

// Internal classes to show/hide elements in JavaScript
.is-visible {
  display: block !important;
}

.is-hidden {
  display: none !important;
}
