// Define color palette
$cdr-colors: (
  primary: #1779ba,
  secondary: #767676,
) !default;

// Set color variables
$primary-color: map-get($cdr-colors, primary);
$secondary-color: map-get($cdr-colors, secondary);
