// Base Typography
// ---------------

// Headers
// -------
$cdr-header-class: 'header';
$cdr-header-font-family: HCo Sentinel, $body-font-family !default;
$cdr-header-font-weight: 600 !default;
$cdr-header-font-style: normal !default; // e.g. italic
$cdr-header-color: inherit !default;
$cdr-header-line-height: 1.333 !default;
$cdr-header-margin-bottom: 1.2rem !default;
$cdr-header-margin-top: 0 !default;
$header-text-rendering: optimizeLegibility !default;

// Styles for headings at various screen sizes.
// Each key is a breakpoint, and each value is a map of heading styles.
// NOTE: size key names are mapped from $mq-breakpoints
$cdr-header-styles: (
  small: (
    font-family: $cdr-header-font-family,
    font-style: $cdr-header-font-style,
    font-weight: $cdr-header-font-weight,
    color: $cdr-header-color,
    text-rendering: $header-text-rendering,
    margin-bottom: $cdr-header-margin-bottom,
    margin-top: $cdr-header-margin-top,
    line-height: $cdr-header-line-height,
    'explore': (
      'text-transform': uppercase
    )
  )
) !default;

$individual-header-styles: (
  small: (
    'h1': ('font-size': 2.843rem),
    'h2': ('font-size': 2.843rem),
    'h3': ('font-size': 2.133rem),
    'h4': ('font-size': 1.6rem),
    'h5': ('font-size': 1.6rem),
    'h6': ('font-size': 1.6rem),
  ),
  medium: (
    'h1': ('font-size': 3.79rem),
  ),
  xlarge: (
    'h1': ('font-size': 5.025rem),
    'h2': ('font-size': 3.79rem),
  ),
) !default;

// Header core styles
.#{$prefix}#{$cdr-header-class} {
  @include parse-mapped-styles($cdr-header-styles);
}

// Individual header styles
@include parse-mapped-styles($individual-header-styles);
