// TODO: add more properties
// TODO: add types for casting values associated with these for testing?
$prop-defs: font-size, font-weight, font-family, line-height,
  margin-top, margin-bottom, color;


// for finding css property declarations in map keys from theo's generated scss maps
@function get-prop($inProp) {
  // remove leading id (i.e. 'pr-')
  $inProp: _trim-left($inProp, $propertyId);
  // remove last - if there is one
  @if (_ends-with($inProp, '-')) {
    $inProp: str-slice($inProp, 0, (str-length($inProp) - 1));
  }

  // see if resulting string is in our definitions above
  @each $def in $prop-defs {
    @if ($inProp == $def) {
      @return $def;
    }
  }

  @warn 'Property definitions do not contain: \'#{$key}\'';
  @return null;
}
