// TODO: add more properties
// TODO: add types for casting values associated with these for testing?
$prop-defs:(
  font-size: "number",
  font-weight: "number",
  font-family: "string",
  line-height: "number",
  margin-top: "number",
  margin-bottom: "number",
  color: "color",
);


// Match css properties from style map to verify they are defined
// @param {string} $input - parsed css property partial
// @return {string} $def - matched css property or null
@function get-prop($input) {
  @each $def, $type in $prop-defs {
    @if ($input == $def) {
      @return $def;
    }
  }

  @warn 'Nothing matched in css property definitions: \'#{$input}\'';
  @return null;
}
