@function add-empty-bp-maps($bps) {
  $returnMap: ();
  @each $key, $value in $bps {
    $returnMap: map-set($returnMap, #{$key}, ());
  }
  @return $returnMap;
}

@function get-bp($input, $map) {
  @each $name, $val in $map {
    @if(str-index($input, $name)) {
      @return $name;
    }
  }
  @debug 'Nothing matched in element definitions: \'#{$input}\'';
  @return false;
}

@function generate-style-map($key, $val, $baseMap, $bp, $el:false, $prop:null) {

  // is element specific
  @if ($el) {
    // set up element map if there isn't one
    @if not(map-has-nested-keys($baseMap, #{$bp}, #{$el})) {
      $newElMap: map-deep-set($baseMap, #{$bp}, (#{$el}:()));
      $baseMap: map-deep-merge($baseMap, $newElMap);
    }
    $newMap: map-deep-set($baseMap, #{$bp}, #{$el}, #{$prop}, #{$val});
    $returnMap: map-deep-merge($baseMap, $newMap);
    @return $returnMap;
  }
  // not element specific
  @else {
    $returnMap: map-deep-set($baseMap, #{$bp}, #{$prop}, #{$val});
    @return $returnMap;
  }
}
