// TODO: add more elements
$el-definitions: (
  h1: 'h1',
  h2: 'h2',
  h3: 'h3',
  h4: 'h4',
  h5: 'h5',
  h6: 'h6',
);

// Match HTML elements from style map to verify they are defined
// @param {string} $input - parsed HTML element partial
// @return {string} $defval - known good HTML selector from definitions
@function get-el($input) {
  @each $defkey, $defval in $el-definitions {
    @if($input == $defkey) {
      @return $defval;
    }
  }
  @warn 'Nothing matched in element definitions: \'#{$input}\'';
  @return false;
}
