// Global Typography
$global-font-size: 100% !default; // remove !default if changing this value from 100%
$global-lineheight: 1.5 !default;
$body-font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$body-antialiased: true !default;
$global-weight-normal: normal !default;
$global-weight-bold: bold !default;
