// Base Typography
$global-font-size: 100% !default; // remove !default if changing this value from 100%
$global-lineheight: 1.5 !default;
$body-font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$body-antialiased: true !default;
$global-weight-normal: normal !default;
$global-weight-bold: bold !default;
$font-family-monospace: Consolas, 'Liberation Mono', Courier, monospace !default; /// Font stack used for elements that use monospaced type, such as code samples

// Headers
$header-font-family: $body-font-family !default;
$header-font-weight: $global-weight-normal !default;
$header-font-style: normal !default; // e.g. italic
$header-color: inherit !default;
$header-lineheight: 1.4 !default;
$header-margin-bottom: 0.5rem !default;

/// Styles for headings at various screen sizes. Each key is a breakpoint, and each value is a map of heading styles.
$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 20),
    'h3': ('font-size': 19),
    'h4': ('font-size': 18),
    'h5': ('font-size': 17),
    'h6': ('font-size': 16),
  ),
  medium: (
    'h1': ('font-size': 48),
    'h2': ('font-size': 40),
    'h3': ('font-size': 31),
    'h4': ('font-size': 25),
    'h5': ('font-size': 20),
    'h6': ('font-size': 16),
  ),
) !default;

$header-text-rendering: optimizeLegibility !default;
