// Define color palette
$cedar-palette: (
  primary: #1779ba,
  secondary: #767676,
) !default;

// Set color variables
$primary-color: map-get($cedar-palette, primary);
$secondary-color: map-get($cedar-palette, secondary);
