@import "tokens/sentinel/sentinel-font.map.scss";

$fonts-map: (
  "sentinel": $sentinel-font-map
);

@each $font-name, $map in $fonts-map {
  $className: map-get($map, class);
  $fontStyle: map-get($map, font-style);
  $fontVariant: map-get($map, font-variant);
  $fontWeight: map-get($map, font-weight);
  $lineHeight: map-get($map, line-height);
  $fontFamily: map-get($map, font-family);

  //Base class for font
  .#{$prefix}header-#{$className} {
    font-style: #{$fontStyle};
    font-variant: #{$fontVariant};
    font-weight: #{$fontWeight};
    line-height: #{$lineHeight};
    font-family: #{$fontFamily};
  }

  //Individual overrides per heading level
  @each $key, $value in $map {
    //TODO: h1-h6 style maps?
    @if(str-index($key, h-1)) {

    }
    @if(str-index($key, h-2)) {

    }
    @if(str-index($key, h-3)) {

    }
    @if(str-index($key, h-4)) {

    }
    @if(str-index($key, h-5)) {

    }
    @if(str-index($key, h-6)) {

    }

  }

}
