//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. Base Typography

@import '../utils';

// 1. Global
// ---------

$global-width: rem-calc(1200);
$global-margin: 1rem;
$global-padding: 1rem;
$body-margin: 0;
$body-padding: 0;
$global-radius: 0;
$body-background: #fff;
$body-font-color: #222;
$global-font-size: 62.5%;
$global-lineheight: 1.5;
$body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$body-font-size: 1.6rem;
$body-antialiased: true;
$global-weight-normal: normal;
$global-weight-bold: bold;
$cedar-palette: (
  primary: #1779ba,
  secondary: #767676,
);

// 2. Breakpoints
// --------------

$mq-breakpoints: (
  small: 0px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

// 3. Base Typography
// ------------------
$cdr-header-class: 'header-core';
$cdr-header-font-fallback: quote($body-font-family);
$cdr-header-font-family: HCo Sentinel, $cdr-header-font-fallback;
$cdr-header-font-weight: 600;
$cdr-header-font-style: normal; // e.g. italic
$cdr-header-color: inherit;
$cdr-header-line-height: 1.333;
$cdr-header-margin-bottom: 1.2rem;
$cdr-header-margin-top: 0;
$cdr-header-text-rendering: optimizeLegibility;

$cdr-header-styles: (
  small: (
    font-family: $cdr-header-font-family,
    font-style: $cdr-header-font-style,
    font-weight: $cdr-header-font-weight,
    color: $cdr-header-color,
    text-rendering: $cdr-header-text-rendering,
    margin-bottom: $cdr-header-margin-bottom,
    margin-top: $cdr-header-margin-top,
    line-height: $cdr-header-line-height,
  )
);

$individual-header-styles: (
  small: (
    'h1': ('font-size': 2.843rem),
    'h2': ('font-size': 2.843rem),
    'h3': ('font-size': 2.133rem),
    'h4': ('font-size': 1.6rem),
    'h5': ('font-size': 1.6rem),
    'h6': ('font-size': 1.6rem),
  ),
  medium: (
    'h1': ('font-size': 3.79rem),
  ),
  large: (
    'h1': ('font-size': 5.025rem),
    'h2': ('font-size': 3.79rem),
  ),
);
