//  Table of Contents:
//
//   1. Global
//   2. Breakpoints
//   3. Base Typography

@import '../utils';

// 1. Global
// ---------

$cdr-global-width: rem-calc(1200);
$cdr-global-margin: 1rem;
$cdr-global-padding: 1rem;
$cdr-body-margin: 0;
$cdr-body-padding: 0;
$cdr-global-radius: 0;
$cdr-body-background: #fff;
$cdr-body-font-color: #222;
$cdr-global-font-size: 62.5%;
$cdr-global-lineheight: 1.5;
$cdr-body-font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$cdr-body-font-size: 1.6rem;
$cdr-body-antialiased: true;
$cdr-global-weight-normal: normal;
$cdr-global-weight-bold: bold;
$cdr-colors: (
  primary: #1779ba,
  secondary: #767676,
);

// 2. Breakpoints
// --------------

$cdr-mq-breakpoints: (
  small: 0px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

// 3. Base Typography
// ------------------
$cdr-header-class: 'header-core';
$cdr-header-font-fallback: quote($cdr-body-font-family);
$cdr-header-font-family: HCo Sentinel, $cdr-header-font-fallback;
$cdr-header-font-weight: 600;
$cdr-header-font-style: normal; // e.g. italic
$cdr-header-color: inherit;
$cdr-header-line-height: 1.333;
$cdr-header-margin-bottom: 1.2rem;
$cdr-header-margin-top: 0;
$cdr-header-text-rendering: optimizeLegibility;

$cdr-header-styles: (
  small: (
    font-family: $cdr-header-font-family,
    font-style: $cdr-header-font-style,
    font-weight: $cdr-header-font-weight,
    color: $cdr-header-color,
    text-rendering: $cdr-header-text-rendering,
    margin-bottom: $cdr-header-margin-bottom,
    margin-top: $cdr-header-margin-top,
    line-height: $cdr-header-line-height,
  )
);

$cdr-individual-header-styles: (
  small: (
    '._h1': ('font-size': 2.843rem),
    '._h2': ('font-size': 2.843rem),
    '._h3': ('font-size': 2.133rem),
    '._h4': ('font-size': 1.6rem),
    '._h5': ('font-size': 1.6rem),
    '._h6': ('font-size': 1.6rem),
  ),
  medium: (
    '._h1': ('font-size': 3.79rem),
  ),
  xlarge: (
    '._h1': ('font-size': 5.025rem),
    '._h2': ('font-size': 3.79rem),
  ),
);
