//TODO: move this to settings?
$prefix: 'cdr-';
$varDelimiter: '--';
$modifierDef: '{ }';
$propertyDef: '( )';
$breakpointDef: '[ ]';

// Themes
// NOTE: Make changes to variables in this file rather than modifying
// base and uncomment the line below
// -------------------
// @import "themes/settings";

// Abstracts
// Functions, Functional Mixins,
// -------------------
@import "./node_modules/sassdash/scss/sassdash";
@import "abstracts/globals";
@import "abstracts/unit";
@import "abstracts/cast";
// TODO: remove if not going to use element selectors
// @import "abstracts/htmlelements";
@import "abstracts/cssproperties";
@import "abstracts/mapFunctions";
@import "abstracts/extensions";

// Base
// -------------------
@import "base/reset";
@import "base/fonts";
@import "base/base";
@import "base/breakpoints";
// @import "base/colors";
@import "base/typography";


// Extension
// (variants, customizations of base)
// -------------------
@import "extension/typography";
