// Global Typography
$global-font-size: 100% !default;
$global-lineheight: 1.5 !default;
$body-font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$body-antialiased: true !default;
$global-weight-normal: normal !default;
$global-weight-bold: bold !default;
